{% extends "parent.html" %}

{% load static %}

{% block title %}
About
{% endblock %}

{% block logo %}
{% endblock %}

{% block content %}
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
            
                <h1>About us</h1>
                <p class="lead mb-0">Team members</p>
                 <h1>No team members were added yet</h1>
                
            </div>
        </div>
    </header>
{% endblock %}